node_modules/
release/FloatingCountdown-win32-arm64/
release/FloatingCountdown-win32-x64/
release/FloatingCountdown-darwin-arm64/
release/FloatingCountdown-darwin-x64/
.DS_Store
release/*.zip
release-gitee/
release-native/
native/qt-qml/build/
